.f1{color:#141414; font-weight: 800; font-size:34px; letter-spacing: 2px; text-transform: uppercase; width: 100%;}
.f2{color:#141414; font-weight: 800; font-size:34px; letter-spacing: 2px; text-transform: uppercase; width: 100%; text-align: center;}
.f3{color:#ff1e00; font-weight: 500; font-size:26px; letter-spacing: 2px; text-transform: uppercase; width: 100%; text-align: center;}
.f4{color:#ff1e00; font-weight: 500; font-size:18px; text-transform: uppercase; width: 100%;}

.ht{height:auto; overflow: hidden;}

.bg1{background-image: linear-gradient(to right, #fdfdfd, #fbfbfb, #f8f8f8, #f6f6f6, #f4f4f4); padding:45px 0; height: auto; overflow: hidden;}
.bg2{background-size: cover; background-position: center; background-repeat: no-repeat; height:80%; width:100%; content: '';}
.bg2 .bg2_content p{font-size:16px; color: #202020; padding: 50% 0; margin: 0;}
.bg3{background-color: #f4f4f4; height: auto;overflow: hidden; padding: 25px 0;}
.bg4{padding: 45px 0; height: auto; overflow:hidden;}
.bg5{background-size: cover !important; background-position: center !important; background-repeat: no-repeat !important; height: 100vh; position: relative;}
.bg6{padding: 25px 0; height: auto; overflow:hidden;}
.bg7{margin: 25px 0; height: auto; overflow:hidden; border-radius: 8px; text-transform: uppercase; color: #141414 !important;}
.bg8{padding: 45px 0; height: auto; overflow:hidden; width: 100%;}
.bg9{margin: 45px 0; height: auto; overflow:hidden; width: 100%; padding: 20px; border-radius: 6px; border: 1px solid #d4d4d4;}

.search-box{}
.search-box .form-control{border-radius: 20px; border-right: none;}
.search-box .input-group-text{background-color:#ffffff; border-top:1px solid #ced4da; border-right: 1px solid #ced4da; border-bottom: 1px solid #ced4da; border-left: none;border-top-right-radius:20px !important; border-bottom-right-radius:20px !important;}

.login-card{height: auto; overflow: hidden; border-radius: 25px; background-color: #ffffff; position: absolute; margin: 10%;-webkit-box-shadow: 0px 8px 20px 3px rgba(0,0,0,0.4); -moz-box-shadow: 0px 8px 20px 3px rgba(0,0,0,0.4); box-shadow: 0px 8px 20px 3px rgba(0,0,0,0.4);}
.login-card .login-img{padding: 0; width:67%; float: left; overflow: hidden; text-align: center;}
.login-card .login-img img{width: 100%;}
.login-card .login-form{padding: 10% 45px; width:33%; float: left;}
.login-card .login-form form{padding-top: 45px;}
.login-card .login-form form .forgot{color:#ff1e00; float: right; font-style: italic; font-weight: 600; padding-bottom: 5px; font-size: 14px;}

.table_red_border{border-radius: 10px; border-top: 2px solid #ff1e00; border-bottom: 2px solid #ff1e00;}
.table_red_border table thead{border-bottom: 1px solid #ff1e00; color:#ff1e00; font-weight: 700; text-transform: uppercase; letter-spacing: 2px;}
.table_red_border table tbody{padding: 5px 0; font-size: 13px; font-weight: 400; color:#141414;}
.table_red_border table tbody tr td{border-right: 2px solid #d4d4d4;}
.table_red_border table tbody tr td:last-child{border-right: none;}

.slider_card{border-radius: 25px; margin: 0 auto; width: 80%; height:auto; overflow: hidden; border: 1px solid #dddddd; -webkit-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); -moz-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); box-shadow: -10px 10px 0px 0px rgba(226,226,226,1);}

.mini_cards{border-radius: 25px; margin: 25px 0; width: 100%; height:auto; overflow: hidden; border: 1px solid #dddddd; -webkit-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); -moz-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); box-shadow: -10px 10px 0px 0px rgba(226,226,226,1);}
.mini_cards .mini_cards_image{background-size: cover; background-position: center; background-repeat: no-repeat; height: 180px; background-color: #010101;}
.mini_cards .mini_cards_content{padding: 20px; color:#141414;}
.mini_cards .mini_cards_content .title{font-size:20px; font-weight: 700; display: -webkit-box; max-width: 100%; height: 48px; margin-bottom: 10px; line-height: 1.2; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
.mini_cards .mini_cards_content p{font-size:14px; font-weight: 400; display: -webkit-box; max-width: 100%; height: 40px; margin: 0 auto; line-height: 1.4; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
.mini_cards .mini_cards_content .mini_cards_controls{float: right; padding: 10px 0;}

.img_cards{border-radius: 25px; margin: 25px 0; width: 100%; height:auto; overflow: hidden; border: 1px solid #dddddd; -webkit-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); -moz-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); box-shadow: -10px 10px 0px 0px rgba(226,226,226,1);}
.img_cards .img_cards_image{background-size: cover; background-position: center; background-repeat: no-repeat; height: 425px; background-color: #010101;}
.img_cards .img_cards_content{display: none; -webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease}
.img_cards:hover .img_cards_content{display:block; -webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease padding: 20px; color:#ffffff; height: 90%; width: 90%; padding-top: 100%; overflow: hidden; text-align: center; position: absolute;}
.img_cards .img_cards_content .title{font-size:20px; font-weight: 700; display: -webkit-box; max-width: 100%; height: 48px; margin-bottom: 10px; line-height: 1.2; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}

.card_image{width: 100%; height: auto; overflow:hidden; border-radius:20px;}

.web_f1{padding:75px 0; width: 100%; height:auto; overflow: hidden; background-image: url(../img/bg1.jpg); background-position: center; background-size: cover;}
.web_f1 .web_f1_content{padding:50% 0; height:auto; overflow: hidden;}
.web_f1 .web_f1_content p{font-size:16px; color:#202020; font-weight: 400; padding-top: 15px}

.web_saf{height:auto; overflow: hidden;}
.web_saf .web_saf_content{padding:50% 0; height:auto; overflow: hidden;}
.web_saf .web_saf_content .title{font-size:28px; color:#202020; font-weight: 800; letter-spacing: 2px; text-transform: uppercase;}
.web_saf .web_saf_content p{font-size:16px; color:#202020; font-weight: 400; padding-top: 15px}

@media (max-width: 992px){
.web_f1 .web_f1_content{padding:10% 0;}
}
@media (min-width: 992px) and (max-width: 1200px) {
.web_f1 .web_f1_content{padding:40% 0;}
	}

.ft_sld{}
.ft_sld .ft_sld_content{max-width: 780px; min-width:300px; width: 100%; position: absolute;}
.ft_sld .ft_sld_content p{font-size:16px; color: #ffffff; padding: 22% 20%;}
.ft_sld .owl-dots{position: absolute; margin-top: -45px !important; z-index: 1; width: 100%;}
.ft_sld .owl-dots .owl-dot span{width:50px !important; height:5px !important}
.ft_sld .owl-dots .owl-dot.active span{background: #ff1e00 !important;}

@media (min-width: 992px) and (max-width: 1200px) {
.ft_sld .ft_sld_content p{padding: 8% 15%;}
	}

.footer{background-color: #202020; height: auto; overflow: hidden; border-top:1px solid #ffffff; padding: 45px 0; color:#ffffff;}
.footer .footer_title{font-size: 20px; font-weight: 700; letter-spacing: 1px;}
.footer li{padding: 5px 0;}
.footer li a{font-style: 16px; font-weight: 400; color:#ffffff; text-decoration: none;}
.footer li a:hover{color:#ff1e00; text-decoration: none; -webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease}
.footer .copyright{text-align: center; font-size: 14px; border-top:1px solid #ff1e00; width: 100%; margin-top: 15px; padding-top: 15px;}

@media (min-width: 1200px) {
.footer .footer_title{padding-top:45px;}
}

.dash_profile{height: auto; overflow: hidden; background-image: url(../img/das-bg.jpg); background-size: cover; background-position: center; background-repeat: no-repeat; padding:100px 0 60px 0;}
.dash_profile .profile-image{width:100%; max-width: 250px; margin: 0 auto; margin-bottom: 50px; background-color: #f4f4f4; height: auto; border: 1px solid #dddddd; -webkit-box-shadow: -10px 10px 0px 0px rgba(226,0,1,.3); -moz-box-shadow: -10px 10px 0px 0px rgba(226,0,1,.3); box-shadow: -10px 10px 0px 0px rgba(226,0,1,.3);}
.dash_profile .name{font-size:20px; font-weight: 700; color: #e20001;}
.dash_profile .school{font-size:20px; font-weight: 700; color: #000000;}
.dash_profile .last{font-size:14px; font-weight: 400; color: #848484; font-style: italic;}

@media (max-width: 992px){
.dash_profile{padding:40px 0 60px 0;}
}

.cards{border-radius: 18px; margin: 25px 0; padding: 15px 25px; width: 100%; height:auto; overflow: hidden; background-color: #fcfcfc; border: 1px solid #dddddd; -webkit-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); -moz-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); box-shadow: -10px 10px 0px 0px rgba(226,226,226,1);}
.cards .cards_title{border-bottom: 1px solid #ff1e00; padding-bottom: 15px; font-size: 20px; color:#202020; text-transform: uppercase; font-weight: 900; letter-spacing: 2px;}
.cards .cards_title span{width:25px; height: 25px; float: left; margin-right: 15px;}
.cards .cards_title .cards_title_redirect{width:25px; height: 25px; float: right; margin-left: 15px; margin-right: 0px;}

.cards-nav{border-radius: 18px; margin: 25px 0; padding: 15px 25px; width: 100%; height: auto; max-height:80%; min-height: 350px; overflow-y: scroll; overflow-x: hidden; background-color: #fcfcfc; border: 1px solid #dddddd; -webkit-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); -moz-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); box-shadow: -10px 10px 0px 0px rgba(226,226,226,1);}
.cards-nav .nav{}
.cards-nav > .nav > .nav-item{border-bottom: 1px solid #ff1e00;}
.cards-nav > .nav > .nav-item:last-child{border-bottom: none;}
.cards-nav > .nav > .nav-item .active{color:#ff1e00 !important;}
.cards-nav > .nav > .nav-item > .nav-link{padding:10px 0; color:#6c757d;}
.nav-grid{height:auto; width: 100%; overflow: hidden;}
.nav-grid.fixed{position: fixed; min-width: 100%; width: auto; left: 0; top: 0; z-index: 999; background-color: #ffffff; border-bottom: 1px solid #e20001; overflow-x: scroll; overflow-y: hidden;}

@media (max-width: 992px){
	.cards-nav{max-height: 380px;}
	.nav-grid > .nav{display:block;}
.nav-grid > .nav > a{float: left; width: auto;}
}

.filter-set{margin: 15px 0; height: auto; overflow: hidden;}
.filter-set a{padding: 0 10px;}
.follow-article{height: auto; overflow: hidden; width: 100%;}
.follow-article h1{font-size:32px; font-weight: 700; letter-spacing: 2px; color: #202020; padding-bottom: 15px;}
.follow-article .author{color:#e20001; font-size: 16px; padding-bottom: 25px; line-height: 1.4;}
.follow-article .author span{display:block; color:#141414; font-size: 14px;}
.follow-article .social{float: left;}
.follow-article img{width:100%; border-radius: 8px;}
.follow-article .copy{font-size: 12px; font-style: italic; color: #141414; text-align: right; padding-bottom: 25px; width: 100%; display: block;}
.follow-article .tags{color:#e20001;}
.follow-article .tags a{color:#e20001;}
.follow-article .tags li{float:left; padding-right: 10px;}
.follow-article .tags li:last-child{padding-right: 0px;}

.saf-your-sport{margin-top: 15px; height: auto; overflow: hidden; border-bottom:1px solid #ff1e00; padding-bottom: 25px;}
.saf-your-sport .content{margin: 15px 0; height: auto; overflow: hidden;}
.saf-your-sport img{width:100%; margin: 10px; border-radius: 18px; background-color: #fcfcfc; border: 1px solid #dddddd; -webkit-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); -moz-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); box-shadow: -10px 10px 0px 0px rgba(226,226,226,1);}
.saf-your-sport a{font-size:20px; font-weight: 700; letter-spacing: 2px; color: #202020; padding-bottom: 15px; display: block; line-height: 1.2}
.saf-your-sport p{font-size:14px;}
.saf-your-sport .author{color:#e20001; font-size: 16px; padding-bottom: 25px; line-height: 1.4;}

.side-article{height: auto; overflow: hidden; padding-bottom: 45px;}
.side-article .cards_title{border-bottom: 1px solid #ff1e00; padding-bottom: 5px; font-size: 20px; color:#202020; text-transform: uppercase; font-weight: 900; letter-spacing: 2px;}
.side-article .cards_info{width: 100%; height: auto; padding: 10px; font-size: 18px;}
.side-article .cards_info span{width:25px; height: 25px; float: left; margin-right: 15px;}
.side-article .cards_img{width: 100%; margin: 15px 0; display: block;}
.side-article .cards_img img{width: 100%;}

.cards_updates{width:100%;}
.cards_updates .grid_holder{height: auto; overflow: hidden;}
.cards_updates .grid_holder:first-child{padding: 15px 0;}
.cards_updates .grid_holder .w1{float: left; text-align: center;}
.cards_updates .grid_holder .w1 img{width: 60px; height: 60px; border-radius: 40px; background-color:#a0a0a0;}
.cards_updates .grid_holder .w2{padding-left: 10px; padding-top: 5px; float: left; width: calc(100% - 70px); width: -webkit-calc(100% - 70px); width: -moz-calc(100% - 70px);}
.cards_updates .grid_holder .w2 .title{width:100%; display: block; font-size:16px; color:#141414; font-weight: 700;}
.cards_updates .grid_holder .w2 p{display: block; font-size:13px; color:#141414; font-weight: 400; margin-bottom: 5px;}
.cards_updates .grid_holder .w2 span{display: block; float: right; font-size:13px; color:#8f8f8f; font-weight: 400;}

.cards_courses{width: 100%; padding-top: 25px;}
.cards_courses .grid_holder{height: auto; overflow: hidden; background-color: #f4f4f4; border-radius: 10px; padding: 15px 8px;}
.cards_courses .grid_holder .user_name{padding-bottom: 10px; font-size: 16px; color:#202020; font-weight: 700; height:40px; margin-bottom:10px; line-height: 1.2; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
.cards_courses .grid_holder .user_name span{width:25px; height: 25px; float: left; margin-right: 5px;}
.cards_courses .grid_holder .course_image{border-radius: 10px; background-color: #bebebe; width: 100%; text-align: center; height: 125px; content: '';}
.cards_courses .grid_holder .course_image img{border-radius: 10px; background-color: #bebebe; height: 100%;}
.cards_courses .grid_holder .mini_cards_content{padding: 20px 0; color:#141414;}
.cards_courses .grid_holder .mini_cards_content .title{font-size:16px; font-weight: 700; display: -webkit-box; max-width: 100%; height: 20px; margin-bottom: 10px; line-height: 1.2; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;}
.cards_courses .grid_holder .mini_cards_content .mini_cards_controls{float: left; padding: 10px 0;}

.cards_team{width: 100%; padding-top: 25px;}
.cards_team .cards_team_head{height: auto; overflow: hidden; padding-bottom: 5px;}
.cards_team .cards_team_head .team_logo{background-color: #e20001; width:90px; height: 90px; border-radius: 50px; margin-right: 15px; float: left; background-size: cover; background-position: center;}
.cards_team .cards_team_head .team_name{padding-top: 20px; font-size: 20px; color:#202020; font-weight: 700; float: left;}
.cards_team .cards_team_head .team_car{height: auto; overflow: hidden; max-width: 300px; float: right;}
.cards_team .card_team_content{height: auto; overflow: hidden;}

.cards_competition{width: 100%; padding-top: 25px;}
.cards_competition .cards_comp_container{height: auto; overflow: hidden; padding: 10px 15px; background-color: #f4f4f4; border-radius: 10px; margin-bottom: 15px;}
.cards_competition .cards_comp_container .comp_title{font-size: 16px; font-weight: 700; color:#141414; padding-bottom: 15px; width: 100%;}
.cards_competition .cards_comp_container .comp_image{background-color:#bebebe; border-radius: 10px; max-height: 265px; width: 100%;}
.cards_competition .cards_comp_container .comp_image img{border-radius: 10px; width: 100%;}
.cards_competition .cards_comp_container dl{font-size:14px; border-bottom: 1px solid #ff1e00; color: #141414;}
.cards_competition .cards_comp_container p{font-size:14px; color: #141414; font-weight: 400;}

.cards_design{width: 100%; padding-top: 25px;}
.cards_design .design_details{ padding-right: 10px;}
.cards_design .design_details dt{font-size:16px; color: #141414; font-weight: 400;}
.cards_design .design_details dd{font-size:35px; color: #e20001; font-weight: 700; line-height: 1.2; margin-bottom: 15px;}

.cards_list{width: 100%; height: auto; overflow: hidden;}
.cards_list ol{padding-left:15px; margin: 10px 0;}
.cards_list ol li{padding-bottom: 10px; font-size: 14px;}
.cards_list ol li:last-child{padding-bottom: 0px;}
.cards_list ol li.course{padding-bottom: 10px; font-size: 14px; height: auto; overflow: hidden;}
.cards_list ol li .text{width: 80%; float: left; width: calc(100% - 90px);}
.cards_list ol li span{float: right; width: 90px;}

.cards_activity{width: 100%; padding-top: 25px;}
.cards_activity .comp_title{font-size: 16px; font-weight: 700; color:#ff1e00; padding-bottom: 10px; width: 100%;}
.cards_activity .stats{font-size:14px; color: #141414; font-weight: 400;}
.cards_activity .comp_image{background-color:#bebebe; border-radius: 10px; max-height: 265px; width: 100%;}
.cards_activity .comp_image img{border-radius: 10px; width: 100%;}
.cards_activity p{font-size:14px; color: #141414; font-weight: 400; height:215px; line-height: 1.5; white-space: normal; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 10; -webkit-box-orient: vertical;}

.cards_course_list{height: 60vh; overflow-y: scroll; overflow-x: hidden; width: 100%;}
.cards_course_list .activity{width: 100%; padding: 15px 0; border-bottom: 1px solid #dddddd;}
.cards_course_list .activity:last-child{width: 100%; padding: 15px 0; border-bottom: 1px solid #dddddd;}
.cards_course_list .activity .title{font-size: 18px; font-weight: 700; color:#141414; padding-bottom: 10px; width: 100%; line-height: 1.2;}
.cards_course_list .activity .title span{color:#ff1e00; display: block; font-weight: 400;}

.course{height: auto; overflow: hidden;}
.course .title{font-size: 32px; font-weight: 400; color:#141414; padding: 20px 0; width: 100%; line-height: 1.2; border-bottom: 1px solid #ff1e00;}
.course .sub_title{font-size: 18px; font-weight: 400; padding-bottom: 10px; width: 100%; color:#ff1e00; display: block; font-weight: 400; padding-top: 10px;}
.course p{font-size: 14px; font-weight: 400; width: 100%; color:#141414; display: block;}
.course .detail{font-size: 14px; font-weight: 400; padding: 20px 0 30px 0; width: 100%; color:#141414;}
.course .detail span{color:#ff1e00;}

.course_attempt{height: auto; overflow: hidden; padding: 20px 0;}
.course_attempt p{padding-top:15px;}

.saf_feature{border-radius: 18px; margin: 25px 0; width: 100%; height:auto; overflow: hidden; background-color: #ffffff;}
.saf_feature .nav-item{width:50% !important;}
.saf_feature .nav-item .nav-link{text-align: center; font-size: 20px; font-weight: 700; color: #212121; text-transform: uppercase; padding: 10px 0;}
.saf_feature .nav-item:first-child .nav-link.active{border-radius:0 0 18px 0;text-align: center; color: #ffffff; background-color: #fa1900;}
.saf_feature .nav-item:last-child .nav-link.active{border-radius:0 0 0 18px;text-align: center; color: #ffffff; background-color: #fa1900;}
.saf_feature .saf_container{padding: 15px 25px;}

.saf-activty-link{color: #6c757d !important; border-bottom: 2px solid #ffffff;}
.saf-activty-link.active {background-color: transparent !important; border-bottom: 2px solid #ff1e00; color: #ff1e00 !important; border-radius: 0px;}
.saf-activity-accordion{padding:10px; height: auto; overflow:hidden;}
.saf-activity-accordion .card{border-radius: 20px !important; margin: 15px 0; width: 100%; height:auto; overflow: hidden; border: 1px solid #dddddd; -webkit-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); -moz-box-shadow: -10px 10px 0px 0px rgba(226,226,226,1); box-shadow: -10px 10px 0px 0px rgba(226,226,226,1);}
.saf-activity-accordion .card .card-header button{font-weight: 900; color: #212121; text-decoration: none; font-size: 20px; padding: 0;}
.card-header > h2 > button:before { float: right !important; content:"-"; padding-right: 5px;}
.card-header > h2 > button.collapsed:before {float: right !important; content:"+";}

.gettouch{height:34px; width:20px; z-index:1; transition: .5s ease-in-out;}
.gettouch_active{position:fixed; right:330px; bottom:70px; height:50px; width:300px;z-index:9999; transition: .5s ease-in-out;}
.slide-out{position:fixed; bottom:0; height:100%; width:280px;right: -335px; transition: .5s ease-in-out; padding:45px 30px; background-color:#202020; z-index:99999; color:#ffffff !important;}
.slide-out > .content{text-align:center; color:#ffffff;}
.slide-out > .content h2{font-size:20px;}
.slide-out > .content p{font-size:14px;}
.exit{color:#ffffff; font-size:24px; top:10px; right:20px; position: absolute;}
.side_navigation{padding:15px 0;height: auto;overflow: hidden;}
.side_navigation li{padding-bottom: 5px;}
.side_navigation li:last-child{padding-bottom: 0px;}
.side_navigation li a{color:#ffffff; text-decoration: none;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease;}
.side_navigation li a:hover{color:#ff1e00; text-decoration: none;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease;-ms-transition:all 1s ease;transition:all 1s ease;}

.breadcrumb-item a{color:#ff1e00 !important;}

.counter-submission{text-align:center; color: #ff1e00;}
.counter-submission li { display: inline-block; font-size: 18px; list-style-type: none; padding: 1em; text-transform: uppercase;}
.counter-submission li span { display: block; font-size: 38px;}

.team_profile{height: auto; overflow: hidden; background-size: cover; background-position: center; background-repeat: no-repeat; float: left;}
.team_profile .profile-image{width:100%; width: 60px; height: 60px; margin: 0 auto; background-color: #f4f4f4; height: auto; border: 1px solid #dddddd; border-radius: 50px; float: left; margin-right: 15px;}
.team_profile span{line-height:4;}
